<ion-view view-title="Select The Brands" hide-nav-bar="false"  class=" wall">
  <ion-content style="margin-top:30px">
  <div class="item brand-button   item-icon-right"  style="background-color:rgba(239, 71, 58, 0.7)"> 
    <h1 ui-sref="app.bisleri"><div align="center" style="color:white">Bisleri</h1>
        <i class="icon ion-chevron-right" style="color:white; font-size:60px;" ></i>

  </div>

  <div class="item brand-button  item-icon-right" style="background-color:rgba(56, 126, 245, 0.69)"> 
    <h1 ui-sref="app.ordO2"><div align="center" style="color:white">O2 Rise</h1>
  
    <i class="icon ion-chevron-right" style="color:white; font-size:60px;" ></i>
  </div>


  <div class="item brand-button  item-icon-right" style="background-color:rgba(51, 205, 95, 0.63)"> 
    <h1 ui-sref="app.aquafina"><div align="center" style="color:white">Aquafina</h1>
      <i class="icon ion-chevron-right" style="color:white; font-size:60px;" ></i>
  </div>
  <div class="item brand-button  item-icon-right" style="background-color:rgba(255, 201, 0, 0.59)"> 
    <h1 ui-sref="app.kinley"><div align="center" style="color:white">Kinley</h1>
      <i class="icon ion-chevron-right" style="color:white; font-size:60px;" ></i>
    
  </div>
  <div class="item brand-button  item-icon-right" style="background-color:rgba(107, 70, 229, 0.62)"> 
    <h1 ui-sref="app.bristeli"><div align="center" style="color:white">Bristeli</h1>
      <i class="icon ion-chevron-right" style="color:white; font-size:60px;" ></i>
  
  </div>
  <div class="item brand-button  item-icon-right" style="background-color:rgba(239, 58, 160, 0.57)"> 
    <h1 ui-sref="app.bristeli"><div align="center" style="color:white">MacDonald</h1>
      <i class="icon ion-chevron-right" style="color:white; font-size:60px;" ></i>
  </div>  </ion-content>
</ion-view>
