<ion-view view-title="Contact us">
  <ion-content padding="true">
   <div class="img">
  </div> 
  <h2 class="fontblue "align="center"><b>AS-Enterprises</b></h2> 
   <div class="card" style="background-color:grey; padding:20px">
<h2 align="center">Contact <br>
     Vicky Pal: 9930057558<br>
     Anurag VK : 8655671440 
</h2>
<hr>
 <h3 align="center">Email ID <br>asenetrprises@gmail.com</h3>
       <hr>
    <!--   <h3 align="center">
      Website <br>
    <a style="background-color: rgba(221, 221, 221, 0.79)" class="item" href="#" onclick="window.open('http://asenterprises.tk/', '_system', 'location=yes'); return false;">
               www.asenterprise.tk
            </a>
      </h3> -->
   </div>
  
      
   </div>
  </ion-content>
</ion-view>
