<ion-view cahce-view="false" class="wall">
 
    <ion-content>
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
  <h1  style="color:white" align="center">Home Page</h1>
    <div class="box card"  style="background-color:rgba(239, 71, 58, 0.7)">

    <h1 style="color:white">Click On Place order tab to start.</h1></div>
  </ion-slide>
  <ion-slide>
  <h1 align="center"  style="color:white">Select Brands Page</h1>

    <div class="box  card"  style="background-color:rgba(56, 126, 245, 0.69)"><h1   style="color:white">In this page you will get many brads of order select your brands and click PlacOrder Button button.</h1></div>
  </ion-slide>
  <ion-slide>
  <h1  style="color:white" align="center">Select Order Page</h1>

    <div class="box card" style="background-color:rgba(51, 205, 95, 0.63)"><h1  style="color:white">Here you have to select at least on order</h1></div>
  </ion-slide>
  <ion-slide>
  <h1  style="color:white" align="center">Bill Details</h1>

    <div class="box card" style="background-color:rgba(255, 201, 0, 0.59)"><h1  style="color:white">Here you will get the bill details of your order</h1></div>
  </ion-slide>
  <ion-slide>
  <h1  style="color:white" align="center">Your Details page</h1>

    <div class="box card"  style="background-color:rgba(107, 70, 229, 0.62)"><h1  style="color:white">Provide your details to were to order deliver.</h1></div>
  </ion-slide>
  <ion-slide>
  <h1  style="color:white" align="center">My Order Page</h1>

    <div class="box card" style="background-color:rgba(239, 58, 160, 0.57)"><h1  style="color:white">Here you will check out about your privious order.</h1></div>
  </ion-slide>
</ion-slide-box>
  </ion-content>
</ion-view>
