<ion-view view-title="Home" hide-nav-bar="true">

  <ion-content class="wall">
<button class="button button-clear" ng-click="toggleLeftSideMenu()" style="color:white;font-size:40px;border: 1px solid white; border-radius:100px; position:fixed; top:10px;left:20px">
 <i class="ion-navicon-round"></i>
</button> 
<div style="height:140px"></div>
 <button class="button bounce button-block " ng-click="date()"></button>
<div align="center">
<button class="button  order-button" ui-sref="app.brands">
Order Now
</button>
</div>
   </ion-content>
</ion-view>
